.btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px 7px 10px;
  transition: background .2s ease-in-out;
  cursor: pointer;

  &:focus {
    border:none;
    outline: none;
  }

  &:hover {
    background: rgba(#fff, .1);
  }

  &-block {
    width: 100%;
  }
}


// Variations

.btn-primary {
  background-color: $primary;
  border-radius: 2px;

  &:disabled {
   background: lighten($primary, 15); 
  }

  &:hover {
    background: darken($primary, 20); 
  }
}


.btn__google {
  display: flex;
  align-items: center;
  background: #2196f3;
  
  &-img {
    width: 20px;
    padding: 5px;
    background: #fff;
  }

  img {
    max-width: 100%;
  }

  span {
    width: calc(100% - 30px);
  }

  &:hover {
    background: darken(#2196f3, 20); 
  }
}

.notes__btn-delete {
  background: red;
  margin: auto;
  margin-top: 1em;
  width: 90%;

  &:hover {
    background-color: darken(red, 10);
  }
}